POSTGRES_HOST=postgres_edu
POSTGRES_PORT=5432
POSTGRES_DB=dwh_training
POSTGRES_USER=student_dwh
POSTGRES_PASSWORD=

S3_ENDPOINT_URL=https://storage.yandexcloud.net
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ru-central1

SOURCE_S3_BUCKET=gsbdwhdata
FLIGHTS_PREFIX=flights_us_data
AIRPORTS_CSV_URL=https://ourairports.com/data/airports.csv

AIRFLOW_DAGS_BUCKET=gsb2024airflow
AIRFLOW_TEAM_FOLDER=Team_VDGA
AIRFLOW_DAGS_PREFIX=Team_VDGA

AIRFLOW_URL=http://89.169.174.119:8080
AIRFLOW_USER=
AIRFLOW_PASSWORD=

AIRFLOW_POSTGRES_CONN_ID=edu_dwh_postgres

CLICKHOUSE_HOST=
CLICKHOUSE_PORT=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
