__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/

.venv/
venv/

.env
.env.local

.idea/
.vscode/

.DS_Store
Thumbs.db

data/
logs/
*.log

airflow.db
airflow-webserver.pid
.env.*
*.pyc
.ipynb_checkpoints/
available_flight_dates.txt
stg_backfill_*.log
